<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Name:</label>
  <div>
    <input type="text" name='pet[name]' id="pet_name">
  </div>
  <p>Adopt an existing Human(s) or create a new one below.</p>

  <h3>Existing Humans</h3>
  <% @owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>"><%= owner.name %>
  <% end %>

  <h3>New Human</h3>
  <div style="padding: 0px 0px 15px;">
	<label>Human Name: </label>
	<input type="type" name="owner[name]" id="owner_name">
  </div>
  <div>
	  <input type="submit" value="Create Pet">
  </div>
</form>
